<h2>Presupuestos Creados</h2>
    <hr>
    <div class=" d-grid gap-2 d-md-flex justify-content-md-end" role="group">
        <button (click)="ordenarPorAz()"  type="button" class="btn btn-outline-dark"><i class="fa-solid fa-arrow-down-a-z"></i></button>
        <button (click)="ordenPorNum()" type="button" class="btn btn-outline-dark"><i class="fa-solid fa-arrow-down-1-9"></i></button>
        <button (click)="reset()" type="button" class="btn btn-outline-danger"><i class="fa-solid fa-rotate-right"></i></button>
    </div>
    <table  class="table">
        
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Cliente/a</th>
            <th scope="col">Nombre de el Presupuesto</th>
            <th scope="col">Total</th>
            <th scope="col">Fecha</th>
            
            
        </tr>
        </thead>
        <tbody  *ngFor="let item of Lista; let i = index ">
        <tr>
            <th scope="row">{{i+1}}</th>
            <td>{{item.nombreCliente}}</td>
            <td>{{item.nombreDePresupuesto}}</td>
            <td>{{item.total| number}}€</td>
            <td>{{item.fecha |date }}</td>
        </tr>
        </tbody>