<h2>Presupuestos Creados</h2>
    <hr>
    <!-- [routerLinkActiveOptions]="{exact:true}"  sirve para decir que tiene que ser exacto -->
    <table   class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Cliente/a</th>
            <th scope="col">Nombre de el Presupuesto</th>
            <th scope="col">Total</th>
        </tr>
        </thead>
        <tbody  *ngFor="let item of Lista ">
        <tr>
            <th scope="row">{{item.index}}</th>
            <td>{{item.nombreCliente}}</td>
            <td>{{item.nombreDePresupuesto}}</td>
            <td>{{item.total| number}}€</td>
        </tr>
        </tbody>