<div class="container">
    <div class="row">
        <div class="col">
            <p >En esta web ofrecemos servicios como:
                <li>
                    1- Hacer una pàgina web 
                    
                </li>
                <li>
                    2- Una campaña de  SEO 
                </li>
                <li>
                    3- Una campaña  de publicidad 
                </li>
                tambien podras elegir la cantidad de Idomas y Paginas que necesites 

            </p> 
             <button><a href="/Home" class="nav-link active">Comienza Ya !</a></button>
        </div>
    </div>
</div>
      
