<div class="container ms-5">
    <div class="row">
        <div class="col">
            <p >En este sitio web ofrecemos servicios tales como:
                <li>
                    1- Crear una página web
                </li>
                <li>
                    2- Una campaña de SEO
                </li>
                <li>
                    3- Una campaña publicitaria
                </li>
                También puedes elegir la cantidad de Idiomas y Páginas que necesitas 

            </p> 
            <button class="btn btn-primary"><a href="/Home" class="nav-link active">Comienza Ya !</a></button>
        </div>
    </div>
</div>
