<form >
    <div class="input-group input-group-sm  mb-3 w-25 ">
        <button 
            class="btn btn btn-warning" 
            type="button" >
            -
        </button>
        <label>Numero de paginas: </label>
        <input 
            type="number" 
            class="form-control">
        <button
            class="btn  btn-warning" 
            type="button" >
            +
            </button>
    </div>

    <div class="input-group input-group-sm  mb-3 w-25">
        <button 
            class="btn btn btn-warning" 
            type="button" >
            -
        </button>
        <label>Numero de idiomas: </label>
        <input 
            type="number" 
            class="form-control">
        <button
            class="btn  btn-warning" 
            type="button" >
            +
        </button>
    </div>
</form>