<form  [formGroup]="myPanellForm">
    <div class="input-group input-group-sm  mb-3 w-25 ">
       
        <label>Numero de paginas: </label>
        <button 
            class="btn ms-2 btn-warning"    
            type="button" 
            (click)="restar(1,'paginas')"
            (click)="multiValores()"
            >
            -
        </button>
        <input 
            type="number" 
            class="form-control"
            formControlName="paginas"
            min="0"
     
        >
        <button
            class="btn  btn-warning" 
            type="button"
            (click)="sumar(1,'paginas')"
            (click)="multiValores()"
            >
            +
        </button>
    </div>

    <div 
        class="input-group input-group-sm mb-3 w-25">
     
        <label>Numero de idiomas: </label>
        <button 
            class="btn ms-2 btn-warning"    
            type="button"
            (click)="restar(1,'idiomas')"
            (click)="multiValores()"
        
        >
            -
        </button>
        <input 
            type="number" 
            class="form-control"
            formControlName="idiomas"
            min="0"
        >

        <button
            class="btn  btn-warning" 
            type="button"
            (click)="sumar(1,'idiomas')"
            (click)="multiValores()"
        >
            +
        </button>
    </div>
</form>

<h5>Valor de el formulario</h5>
<pre>{{myPanellForm.value | json}}</pre>
<br>
